html {
  height: 100%;
  width: 100%;
}

/* This is to get rid of the underlining and the blue color of anchor tags */
a { 
  color: black;
  text-decoration: none;
}

/* this is for the nav bar */
.website-header {
  font-family: Jockey One;
  color: black;
  background: #FCE7EC;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* This position, top, and width makes the nav sticky */
  position: fixed;    
  top: 0;
  width: 100%;
}
.website-name {
  font-family: Jockey One;
  color: #044B11;
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
}

/* this is for the ai image */
.row {  
  /* width: 95%; */
  width: 103%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* padding-left: 90px; */
}

/* this is to make that black transparent ish box */
.overlay-box {
  background-color: rgba(0, 0, 0, 0.42);
  color: white;
  font-size: 21px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 170px;
  bottom: 30%;
}

/* this is for the orange background */
.orange {
  display: flex;
  flex-direction: column;
  align-items: row;
}

/* this is all for the h1, p, and mochiango image */
.image-container {
  position: relative;
  display: inline-block;
}
.mochiangoDescription {
  font-family: Joan;
  color: white;
  font-size: 43px;
  position: absolute;
  transform: translate(50%, -5%)
  padding: 70px 10px 0px 70px;
  text-indent: 20px;
}
.mochiangoText {
  font-family: Joan;
  color: white;
  font-size: 24px;
  width: 90%;
  height: 60%;
  position: absolute;
  transform: translate(20%, 20%);
}
.mochiango {
  font-family: Joan;
  display: flex;
  flex-direction: row-reverse;
  transform: translate(95%, -10%);
  size-adjust: 60%;
}

/* This is for the bootstrap */
.containerMarketing {
  font-family: Joan;
  background: white;
  color: black;
  width: 98%;
  height: 300%
}

/* This is for the website wireframe text and image */
.websiteWireframe {
  font-family: Joan;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
}

.clicker {
  font-family: Jockey One;
  font-weight: 5px;
  padding-left: 10px;
}